<div>
    <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
        <div>
            <a style="color: white; margin-left: 50px; font-size: 18px; font-weight: bolder;" routerlink="/login">MathStore</a>
        </div>
    </nz-header>
    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapseWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nztype="link" routerLink="/register" routerLinkActive="active">Sing Up</a>
            </li>
        </ul>
    </nz-sider>
</div>